body{
  margin: 0;
  padding: 0;
  background: url(../img/background.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  position: absolute;
  transform:translate(135%,60%);
  align-items: center;
  padding: 30px 40px;
}

.lock-icon {  
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 8px;
  text-transform: uppercase;
  color:azure;
}

p {
  font-size: 18px;
  color:azure;
}

.card input[type="text"]{
    border: none;
    border-bottom:  1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size: 16px;
}

.passInput {
  margin-top: 15px;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 15px;
  color: white;
  outline: none;
}

button {
  margin-top: 15px;
  width: 80%;
  background-color: #E01C2B;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
}