<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Arduino communication</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    
</head>

<body>
    <h1>Communication between web and Arduino</h1>
    <input class="slider" id="hcon" type="range" min="0" max="1023" value="511">
    <div class="tag">1023</div>
    <button id="lightOn">Turn Light On</button>
    <button id="lightOff">Turn Light Off</button>
    <!-- <div id="sample">
    </div> -->
    <!-- <script src="../public/js/main.js"></script> -->
    <script>
        var socket = io();

        // socket.on('data', function(data){
        //     console.log(data);
        //     document.getElementById('sample').innerHTML = data;
        // });
        document.getElementById('lightOn').onclick = function(){
            socket.emit('lights', {value:"010 1"});
        }
        document.getElementById('lightOff').onclick = function(){
            socket.emit('lights', {value:"010 0"});
        }
        const slider = document.querySelector(".slider");
        const tag = document.querySelector(".tag");
        tag.textContent = slider.value;
        slider.oninput = function(){
            tag.textContent = this.value;
            socket.emit('analog',{value: `020 ${this.value}`});
        }
    </script>
</body>

</html>